
body {
    background-color: #FFFFFF;
    font-family: "微软雅黑",Helvetica,"黑体",Arial,Tahoma;
    line-height: 1.6;
}
body, input, textarea, select {
    color: #333333;
}
body, h1, h2, h3, h4, p, ul, ol, dl, dd {
    margin: 0;
}
ul, ol {
    list-style-type: none;
    padding-left: 0;
}
a img {
    border: 0 none;
}
.dn {
    display: none;
}
.db {
    display: block;
}
.dib {
    display: inline-block;
}
.b_dib {
    display: inline-block;
}
.di {
    display: inline;
}
.vh {
    visibility: hidden;
}
.vv {
    visibility: visible;
}
.rel {
    position: relative;
}
.abs {
    position: absolute;
}
.oh {
    overflow: hidden;
}
.z {
}
.l {
    float: left;
}
.r {
    float: right;
}
.cl {
    clear: both;
}
.group {
}
.group:after {
    clear: both;
    content: "​";
    display: block;
    height: 0;
}
.tc {
    text-align: center;
}
.tr {
    text-align: right;
}
.tl {
    text-align: left;
}
.tj {
    text-align: justify;
}
.vt {
    vertical-align: top;
}
.vm {
    vertical-align: middle;
}
.vb {
    vertical-align: bottom;
}
.f0 {
    font-size: 0;
}
.fa {
    font-family: Arial;
}
.fs {
    font-family: SimSun;
}
.fyh {
    font-family: "Microsoft YaHei";
}
.indent {
    text-indent: 2em;
}
.n {
    font-style: normal;
    font-weight: 400;
}
.b {
    font-weight: 700;
}
.i {
    font-style: italic;
}
.tdn {
    text-decoration: none;
}
.tdn:hover {
    text-decoration: none;
}
.poi {
    cursor: pointer;
}
.text-hide {
    line-height: 999em;
    overflow: hidden;
}
.drop_hl_extra {
    margin-left: -999em;
    padding-left: 999em;
}
.drop_vb_extra {
    margin-bottom: -999em;
    padding-bottom: 999em;
}
body {
    background: url("") repeat scroll 0 0 transparent;
    font-size: 14px;
    min-width: 960px;
}
a {
    color: #3F65B5;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.icon24-login {
    background: url("../images/icon24_login.png") no-repeat scroll center center transparent;
    display: inline-block;
    height: 24px;
    margin: 0 auto;
    vertical-align: middle;
    width: 24px;
}
.icon24-login.un {
    background-position: 0 0;
}
.icon24-login.err {
    background-position: -24px 0;
}
.icon24-login.pwd {
    background-position: -48px 0;
}
.icon24-login.checkbox {
    background-position: -72px 0;
}
.icon24-login.checkbox_checked {
    background-position: -96px 0;
}
.icon24-login.add {
    background-position: -120px 0;
}
.wrapper {
    margin: 0 auto;
    width: 960px;
}
.input-shadow {
    box-shadow: 0 1px 3px rgba(170, 170, 170, 0.8) inset;
}
#header {
    background-color: #F3F3F3;
    border-top: 5px solid #553005;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
    position: relative;
    z-index: 1;
}
#header .wrapper {
    line-height: 60px;
    position: relative;
}
#header .wrapper img {
    vertical-align: middle;
}
#header .hd_login_info {
    position: absolute;
    right: 0;
    top: 10px;
}
#banner {
    background: url("../images/mp_banner.jpg") no-repeat scroll center center #070916;
}
#banner .wrapper {
    height: 460px;
    position: relative;
}
.input-focus {
    border-color: #4A9BDF;
}
.login-panel {
	-webkit-border-radius: 5px;
    -moz-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    background-color: #e4e4e4;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(228, 228, 228, 0.9)), to(rgba(248, 248, 248, 0.9)));
    background: -moz-linear-gradient(center top , rgba(228, 228, 228, 0.9) 0px, rgba(248, 248, 248, 0.9) 100%) repeat scroll 0 0 transparent;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    padding: 25px 35px 20px;
    position: absolute;
    right: 0;
    top: 25px;
}
.login-panel h3 {
    font-size: 21px;
    font-weight: normal;
    margin-bottom: 5px;
    text-shadow: 1px 1px 1px #EEEEEE;
}
.login-panel .arrow {
    border-color: transparent transparent #CFCFD2;
    border-style: dashed dashed solid;
    border-width: 10px;
    font-size: 0;
    position: absolute;
    right: 78px;
    top: -20px;
}
.login-mod {
    width: 316px;
}
.login-mod input {
    border: 0 none;
    font-size: 14px;
    margin: 0;
    outline: 0 none;
    padding: 0;
}
.login-mod .icon-wrapper {
    display: inline-block;
    line-height: 0;
    vertical-align: middle;
}
.login-mod .login-remember-pwd:hover, .login-mod .login-btn:hover {
    text-decoration: none;
}
.login-err-panel {
    color: #D70000;
    font-size: 13px;
    margin-left: -4px;
}
.login-form {
    background-color: #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 1px 3px rgba(170, 170, 170, 0.8) inset;
    margin-top: 5px;
    width: 316px;
}
.login-form div {
    border: 1px solid #AEAEAE;
    padding: 3px 0;
}
.login-form .login-un {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.login-form .login-pwd {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top: medium none;
}
.login-form span {
    margin: 0 15px;
}
.login-form input {
    font-family: "Microsoft YaHei";
    padding: 11px 0;
    vertical-align: middle;
    width: 240px;
}
.login-form.login_on_un .login-un {
    border-color: #4A9BDF;
    box-shadow: 0 0 5px #AEDCFA;
}
.login-form.login_on_pwd .login-un {
    border-bottom: 0 none;
}
.login-form.login_on_pwd .login-pwd {
    border: 1px solid #4A9BDF;
    box-shadow: 0 0 5px #AEDCFA;
}
.login-code-panel {
    margin-top: 10px;
}
.login-code-panel input {
    border: 1px solid #AEAEAE;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 3px rgba(170, 170, 170, 0.8) inset;
    font-size: 16px;
    padding: 10px;
    vertical-align: middle;
    width: 100px;
}
.login-code-panel input:focus {
    border-color: #4A9BDF;
}
.login-code-panel span {
    height: 40px;
    margin-left: 10px;
    margin-right: 6px;
    width: 100px;
}
.login-code-panel span img {
    height: 100%;
    width: 100%;
}
.login-help-panel {
    color: #445C8F;
    margin-left: -4px;
    margin-top: 10px;
    overflow: hidden;
}
.login-help-panel .icon24-login.add {
    margin-top: -0.2em;
}
.login-help-panel .login-forget-pwd {
    float: right;
}
.login-help-panel .login-remember-pwd {
    color: #333333;
}
.login-btn-panel {
    margin-top: 20px;
    padding-bottom: 30px;
}
.login-btn-panel .login-btn {
	background-color: #5ba10e;
    background: -webkit-gradient(linear, left top, left bottom, from(#6fb420), to(#51930d));
    background: -moz-linear-gradient(center top , #6FB420 0px, #51930D 100%) repeat scroll 0 0 transparent;
    border: 1px solid #638467;
    border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px;
    color: #FFFFFF;
    display: inline-block;
    margin-right: 15px;
    padding: 3px 0;
    text-align: center;
    width: 120px;
}
.qrcode-panel {
    background-color: #E1E2E6;
    border-radius: 5px 5px 5px 5px;
    color: #717375;
    padding: 10px;
    position: absolute;
    right: -178px;
    text-align: center;
    top: 24px;
}
#contain {
    background: url("") repeat scroll 0 0 transparent;
}
.split_top {
    border-bottom: 1px solid #D6D6D6;
}
.split_bottom {
    border-top: 1px solid #FFFFFF;
}
.default_wrapper {
    background-color: #DCDCDC;
    border: 1px solid #C0C0C0;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 0 #EEEEEE inset, 0 1px 5px #A1A1A1;
}
.default_wrapper .arrow {
    left: 36px;
    position: absolute;
    top: -20px;
}
.default_wrapper .arrow i {
    border-color: transparent;
    border-style: dashed;
    border-width: 10px;
    height: 0;
    position: absolute;
    width: 0;
}
.default_wrapper .arrow i.arrow_out {
    border-bottom-color: #C0C0C0;
    border-bottom-style: solid;
}
.default_wrapper .arrow i.arrow_in {
    border-bottom-color: #DCDCDC;
    border-bottom-style: solid;
    top: 1px;
}
.icon_mp_fnc {
    background: url("") no-repeat scroll 0 0 transparent;
    display: inline-block;
    height: 144px;
    vertical-align: middle;
    width: 141px;
}
.icon_mp_fnc.maxcode {
    background-position: 0 0;
}
.icon_mp_fnc.msg {
    background-position: 0 -144px;
}
.icon_mp_fnc.brand {
    background-position: 0 -288px;
}
.icon_mp_fnc.trans {
    background-position: 0 -433px;
}
.icon_mp_case {
    background: url("") no-repeat scroll 0 0 transparent;
    display: inline-block;
    height: 80px;
    vertical-align: middle;
    width: 80px;
}
.icon_mp_case.yxbj {
    background-position: 0 -80px;
}
.icon_mp_case.zsyh {
    background-position: -80px -80px;
}
.icon_mp_case.nfhk {
    background-position: -160px -80px;
}
.icon_mp_case.xijqr {
    background-position: -240px -80px;
}
.icon_mp_case.qxxz {
    background-position: -320px -80px;
}
.icon_mp_case.gdlt {
    background-position: -400px -80px;
}
.icon_mp_case.sgyyzs {
    background-position: -480px -80px;
}
.icon_mp_case.wxlk {
    background-position: -560px -80px;
}
.icon_mp_case.on.yxbj, .icon_mp_case.yxbj:hover {
    background-position: 0 0;
}
.icon_mp_case.on.zsyh, .icon_mp_case.zsyh:hover {
    background-position: -80px 0;
}
.icon_mp_case.on.nfhk, .icon_mp_case.nfhk:hover {
    background-position: -160px 0;
}
.icon_mp_case.on.xijqr, .icon_mp_case.xijqr:hover {
    background-position: -240px 0;
}
.icon_mp_case.on.qxxz, .icon_mp_case.qxxz:hover {
    background-position: -320px 0;
}
.icon_mp_case.on.gdlt, .icon_mp_case.gdlt:hover {
    background-position: -400px 0;
}
.icon_mp_case.on.sgyyzs, .icon_mp_case.sgyyzs:hover {
    background-position: -480px 0;
}
.icon_mp_case.on.wxlk, .icon_mp_case.wxlk:hover {
    background-position: -560px 0;
}
.mp_fnc_mod {
    border-bottom: 1px solid #D6D6D6;
    padding: 40px;
    text-align: justify;
}
.mp_fnc {
    display: inline-block;
    text-align: center;
    width: 220px;
}
.mp_fnc_hd .icon_wrapper {
    display: block;
}
.mp_fnc_t {
    color: #222222;
    font-size: 16px;
    font-weight: 700;
    padding-top: 14px;
}
.mp_fnc_c {
    color: #7B7B7B;
}
.mp_case_mod {
    border-top: 1px solid #FFFFFF;
    padding-top: 40px;
}
.mp_case_list {
    padding: 0 78px;
    position: relative;
}
.mp_case_mod_t {
    font-size: 20px;
    font-weight: normal;
}
.mp_case_mod_bd {
    margin-top: 10px;
}
.mp_case_item {
    cursor: pointer;
    display: inline-block;
    margin-right: 77px;
    text-align: center;
    width: 96px;
}
.mp_case_item .icon_wrapper {
    display: inline-block;
}
.mp_case_t {
    color: #555555;
    font-size: 14px;
    font-weight: 400;
    padding-top: 4px;
}
.mp_case_desc {
    margin-top: 15px;
    padding: 16px 15px;
    position: relative;
    width: 900px;
}
.mp_case_desc_text {
    line-height: 2;
    margin-right: 10px;
}
.mp_case_desc_img {
    float: left;
    height: 480px;
    margin-right: 10px;
    width: 320px;
}
.mp_case_desc_img.extra {
    margin-right: 20px;
}
#footer {
    background-color: #727171;
    color: #DADADA;
    margin-top: 50px;
    padding: 30px 0;
    text-align: center;
}
#footer a {
    color: #DADADA;
    margin-left: 10px;
    padding-right: 10px;
}
#login_single #header {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}
#login_single #contain {
    margin-top: 30px;
}
#login_single #contain .wrapper {
    background-color: #F3F3F3;
    border: 1px solid #CCCCCC;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 3px 10px #DDDDDD;
    height: 650px;
    overflow: hidden;
}
#login_single .login-mod {
    border-bottom: 1px solid #CCCCCC;
    margin: 40px auto 0;
}
#login_single .login-regist-panel {
    border-top: 1px solid #FFFFFF;
    margin: 0 auto;
    padding-top: 10px;
    width: 316px;
}
#login_single .icon24-login {
    margin-top: -0.2em;
}
